html, body {
  margin:0;
  padding:0;
  height:100%;
}

.App {
  text-align: center;
  padding:2% 1%;
  width:96%;
  margin-left: 1%;
  margin-top: 1%;
}

.LoginApp {
  display:flex;
  height:100vh;
}
.logside {
  flex-basis: 50%;
  background: #cde5ef;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}
.logside2 {
  flex-basis: 50%;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}
.logfail {
  color:red;
  font-size:20px;
}

.Popup {
  display:flex;
  padding: 1% 1%;
  margin-top:22%;
  flex-direction:column;
  margin-left:10%;
}

.nav-bar {
  background-color:lightslategray;
  display: flex;
  justify-content:space-evenly;
  padding:8px;
}


.login {
  position: relative;
  margin: 30px auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login h1 {
  margin: -20px -20px 22px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  background: #f3f3f3;
}


input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 278px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

button[type=submit], a[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

button[type=submit]:active {
  background: #cde5ef;
}

button[type=noborder] {
  background-color: white;
  border-bottom: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
}
